body {
  background-color: blue;
}

table#game_board {
  margin:auto;
  border-style: solid;
  border-width: 7px;
  border-color: rgb(50,50,50);
}

table#game_board td {
  padding: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(50,50,50);
}

#messages p {
  margin: 0px;
}

td.hovered_over:hover {
  position:absolute;
  background: url('../HOVERNOANIM.gif'), rgb(50,50,50);
  background-size: 100% 100%;
}
